body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 1;
}

.header {
    background-color: rgb(161, 161, 161);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: medium;
    width: 30rem;
}

.content {
    padding: 15px;
}

.input-container {
    margin-top: 20rem;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px
}